Repository mikesir87/ldschurch-stream: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cd api && npm run lint:fix, cd dashboard && npm run lint:fix, cd access && npm run lint:fix, cd landing && npm run lint:fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "api/**/*.js": ["cd api && npm run lint:fix"],
  "dashboard/**/*.{js,jsx}": ["cd dashboard && npm run lint:fix"],
  "access/**/*.{js,jsx}": ["cd access && npm run lint:fix"],
  "landing/**/*.{js,jsx}": ["cd landing && npm run lint:fix"]
}

fix: resolve circular dependency issues in React contexts
  dashboard/src/context/AuthContext.jsx
  dashboard/src/context/UnitContext.jsx
  dashboard/src/pages/UnitSettings.jsx
Due: eslint --fix, prettier --write, cd dashboard && npm run lint:fix

feat: add SMTP configuration test endpoint and admin control
  api/src/controllers/admin.js
  api/src/routes/admin.js
  api/src/services/emailService.js
  dashboard/src/pages/Admin.jsx
Due: eslint --fix, prettier --write, cd api && npm run lint:fix, cd dashboard && npm run lint:fix

fix: add missing dependency to refreshToken useCallback
  dashboard/src/context/AuthContext.jsx
Due: eslint --fix, prettier --write, cd dashboard && npm run lint:fix

fix: align pre-commit hooks with CI validation
  .lintstagedrc.json
Due: prettier --write

fix: resolve circular dependency in AuthContext
  dashboard/src/context/AuthContext.jsx
Due: eslint --fix, prettier --write, cd dashboard && npm run lint:fix

Secrets update and sendgrid configuration
  k8s/api-deployment.yaml
  k8s/secrets.yaml
Due: prettier --write

feat: migrate from SMTP to SendGrid for email sending
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  SENDGRID_MIGRATION.md
  api/.env.example
  api/package.json
  api/src/config/index.js
  api/src/services/emailService.js
  compose.yaml
  dashboard/src/pages/Admin.jsx
  k8s/api-deployment.yaml
  k8s/secrets-template.yaml
  sendgrid-mock/.eslintrc.json
  sendgrid-mock/Dockerfile
  sendgrid-mock/package.json
  sendgrid-mock/server.js
Due: eslint --fix, prettier --write, cd api && npm run lint:fix, cd dashboard && npm run lint:fix

Human - update sealed secrets due to smtp to sendgrid change
  k8s/secrets.yaml
Due: prettier --write

Skip logging for health endpoints to reduce k8s noise
  api/src/middleware/correlation.js
Due: eslint --fix, prettier --write, cd api && npm run lint:fix

Skip rate limiting for health endpoints
  api/src/app.js
Due: eslint --fix, prettier --write, cd api && npm run lint:fix

feat: add stream completion job and admin controls
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  api/src/controllers/admin.js
  api/src/jobs/index.js
  api/src/jobs/streamCompletion.js
  api/src/routes/admin.js
  dashboard/src/pages/Admin.jsx
Due: eslint --fix, prettier --write, cd api && npm run lint:fix, cd dashboard && npm run lint:fix

feat: split CI pipeline into component-specific workflows
  .github/workflows/access.yml
  .github/workflows/api.yml
  .github/workflows/build-and-deploy.yml
  .github/workflows/dashboard.yml
  .github/workflows/infrastructure.yml
  .github/workflows/landing.yml
  .github/workflows/lint-and-format.yml
  .kiro/steering/structure.md
  .kiro/steering/tech.md
Due: prettier --write

feat: add Go Live button with stream key and OBS instructions
  dashboard/src/pages/Dashboard.jsx
Due: eslint --fix, prettier --write, cd dashboard && npm run lint:fix

Human - add missing host on ingress TLS config
  k8s/ingress.yaml
Due: prettier --write

feat(landing): add dashboard button and logo to navbar
  landing/src/components/Navigation.jsx
Due: eslint --fix, prettier --write, cd landing && npm run lint:fix

fix: enhance YouTube token refresh logging and validation
  api/src/jobs/youtubeBatchProcessor.js
  api/src/services/youtubeService.js
Due: eslint --fix, prettier --write, cd api && npm run lint:fix

debug: add YouTube token configuration logging
  api/src/services/youtubeService.js
Due: eslint --fix, prettier --write, cd api && npm run lint:fix

ci: build images only for linux/amd64 architecture
  .github/workflows/access.yml
  .github/workflows/api.yml
  .github/workflows/dashboard.yml
  .github/workflows/landing.yml
Due: prettier --write

security: remove hardcoded YouTube OAuth credentials
  api/scripts/youtube-oauth.js
  k8s/secrets.yaml
Due: eslint --fix, prettier --write, cd api && npm run lint:fix

feat: implement database storage for YouTube OAuth tokens
  api/src/migrations/004-migrate-youtube-tokens.js
  api/src/models/YouTubeTokens.js
  api/src/services/youtubeService.js
Due: eslint --fix, prettier --write, cd api && npm run lint:fix

feat: add database-backed migration system
  api/src/app.js
  api/src/migrations/index.js
  api/src/models/Migration.js
Due: eslint --fix, prettier --write, cd api && npm run lint:fix

feat: add OBS WebSocket proxy for remote control
  .github/workflows/obs-proxy.yml
  .kiro/steering/product.md
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  README.md
  api/src/controllers/units.js
  api/src/models/ObsAccessCode.js
  api/src/routes/index.js
  api/src/routes/obsProxy.js
  api/src/routes/units.js
  compose.yaml
  dashboard/src/components/GoLiveModal.jsx
  dashboard/src/pages/Dashboard.jsx
  k8s/api-deployment.yaml
  k8s/ingress.yaml
  k8s/obs-proxy-deployment.yaml
  obs-proxy/.eslintrc.json
  obs-proxy/Dockerfile
  obs-proxy/package.json
  obs-proxy/src/auth.js
  obs-proxy/src/instrumentation.js
  obs-proxy/src/metrics.js
  obs-proxy/src/public/logos/logo-black.svg
  obs-proxy/src/public/logos/logo-blue.svg
  obs-proxy/src/public/logos/logo-white.svg
  obs-proxy/src/public/script.js
  obs-proxy/src/server.js
  obs-proxy/src/utils/logger.js
  obs-proxy/src/websocketPair.js
Due: eslint --fix, prettier --write, cd api && npm run lint:fix, cd dashboard && npm run lint:fix

Fix endpoint config in obs-proxy workflow
  .github/workflows/obs-proxy.yml
Due: prettier --write

feat: trigger workflows when their own files are updated
  .github/workflows/access.yml
  .github/workflows/api.yml
  .github/workflows/dashboard.yml
  .github/workflows/infrastructure.yml
  .github/workflows/landing.yml
  .github/workflows/obs-proxy.yml
Due: prettier --write

fix: move Docker Hub login before buildx setup for Build Cloud auth
  .github/workflows/obs-proxy.yml
Due: prettier --write

fix: use correct Docker Hub secret names
  .github/workflows/obs-proxy.yml
Due: prettier --write

feat: add package-lock.json for obs-proxy
  obs-proxy/package-lock.json
Due: prettier --write

feat: add package-lock.json files for all services
  sendgrid-mock/package-lock.json
  youtube-mock/package-lock.json
Due: prettier --write

refactor: integrate OBS controller into dashboard
  .kiro/steering/product.md
  .kiro/steering/structure.md
  api/src/app.js
  compose.yaml
  dashboard/public/config.json
  dashboard/src/App.jsx
  dashboard/src/components/GoLiveModal.jsx
  dashboard/src/pages/ObsController.jsx
  k8s/obs-proxy-deployment.yaml
  obs-proxy/package-lock.json
  obs-proxy/package.json
  obs-proxy/src/public/logos/logo-black.svg
  obs-proxy/src/public/logos/logo-blue.svg
  obs-proxy/src/public/logos/logo-white.svg
  obs-proxy/src/public/script.js
  obs-proxy/src/server.js
  package-lock.json
Due: eslint --fix, prettier --write, cd api && npm run lint:fix, cd dashboard && npm run lint:fix

fix: add obsProxyUrl to production dashboard config
  k8s/dashboard-deployment.yaml
Due: prettier --write

docs: add mermaid architecture diagram to README
  README.md
Due: prettier --write

fix: remove all MailHog references and update to SendGrid Mock
  .kiro/steering/structure.md
  .kiro/steering/tech.md
  README.md
  api/src/scripts/setupTestReportData.js
Due: eslint --fix, prettier --write, cd api && npm run lint:fix
